numpy>=1.21.0,<2.0.0
pyomo==6.7.3
pandas==2.2.2
matplotlib==3.9.0
openpyxl==3.1.4
seaborn==0.13.2
scikit-learn==1.5.0
kneed==0.8.5
requests==2.32.3
pvlib==0.11.0
NREL-rex==0.2.86
PySide6==6.5.2
PySide6-Addons==6.5.2
PySide6-Essentials==6.5.2
kaleido==0.2.1
plotly==5.22.0
